# Diccionarios

Son estructuras de datos: 
- heterogéneas: significa que pueden estar compuestas por más de un tipo de dato
- mutables: Se puede modificar cada uno de sus elementos, también añadir, borrar, actualizar...
- SON ORDENADOS: (a partir de la versión 3.7 de python): Conservan el orden de inserción en memoria.

Un diccionario es una lista de parejas **clave: valor**, donde la clave representa un campo único (no se puede repetir) y el valor es el contenido asociado a esa clave

In [3]:
# ejemplos de diccionarios
diccionario1= {"José":24, "María":32, "Pedro":25}
type(diccionario1), diccionario1

(dict, {'José': 24, 'María': 32, 'Pedro': 25})

#### La clave es única dentro del diccionario

In [4]:
# OJO: La clave es única dentro del diccionario
diccionario1= {"José":24,"María":32,"Pedro":25, "José": 32}
diccionario1

{'José': 32, 'María': 32, 'Pedro': 25}

#### Los valores de los diccionarios pueden de ser cualquier tipo

In [6]:
# Los valores de los diccionarios pueden de ser cualquier tipo
diccionario2={"José":[5,7,8,9],"Pedro":[2,4,5,9,10],"María":[2,10,9,7,4]}
diccionario2

{'José': [5, 7, 8, 9], 'Pedro': [2, 4, 5, 9, 10], 'María': [2, 10, 9, 7, 4]}

#### Los diccionarios pueden tener valores que a su vez sean diccionarios

In [ ]:
# los diccionarios pueden tener valores que a su vez sean diccionarios
diccionario3={"alumno1":{"nombre":"Juan","apellidos":["Pérez","López"],"notas":[5,3,2],"familiares":{}},
              "alumno2":{"nombre":"Paco","apellidos":"Jonhson","expulsiones":3},
              "alumno3":{"nombre":"María","apellidos":["Sanchez","López"],"matriculasH":5},
              "alumno4":[]}

diccionario3

for i in diccionario3.keys():
    print(f"cada clave  {i} siu")

for clave,valor in diccionario3.items():
    print(f"cada clave  {clave} y su {valor} valores")

for valor in diccionario3.values():
    print(f"sus {valor} valores")

cada clave  alumno1 siu
cada clave  alumno2 siu
cada clave  alumno3 siu
cada clave  alumno4 siu
cada clave  alumno4 y su [] valores
cada clave  alumno4 y su [] valores
cada clave  alumno4 y su [] valores
cada clave  alumno4 y su [] valores
sus {'nombre': 'Juan', 'apellidos': ['Pérez', 'López'], 'notas': [5, 3, 2], 'familiares': {}} valores
sus {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3} valores
sus {'nombre': 'María', 'apellidos': ['Sanchez', 'López'], 'matriculasH': 5} valores
sus [] valores

#### Son mutables, con el operador [], con la clave, realizo un acceso al elemento.

In [11]:
# Son mutables, con el operador [], con la clave, realizo un acceso al elemento.
diccionario1= {"José":24,"María":32,"Pedro":25, "José": 32}
diccionario1["María"]+=1
diccionario1

{'José': 32, 'María': 33, 'Pedro': 25}

#### El sistema de indexación permite de forma flexible acceder a cualquier elemento

In [14]:
# El sistema de indexación permite de forma flexible acceder a cualquier elemento de la E.D.
diccionario3["alumno1"]["apellidos"][0]="Martínez"
diccionario3

{'alumno1': {'nombre': 'Juan',
  'apellidos': ['Martínez', 'López'],
  'notas': [5, 3, 2],
  'familiares': {}},
 'alumno2': {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3},
 'alumno3': {'nombre': 'María',
  'apellidos': ['Sanchez', 'López'],
  'matriculasH': 5},
 'alumno4': []}

## Métodos interesantes de los diccionarios

- .keys() Devuelve una lista de claves del diccionario
- .values() Devuelve una lista de valores del diccionario
- .items() Devuelve una tupla con las claves y los valores del diccionario

In [15]:
# ejemplo de uso de keys
diccionario3.keys()

dict_keys(['alumno1', 'alumno2', 'alumno3', 'alumno4'])

In [18]:
# ejemplo de uso de values
diccionario1.keys(), diccionario1.values()

(dict_keys(['José', 'María', 'Pedro']), dict_values([32, 33, 25]))

#### Podemos usarlas para recorrer el diccionario

In [20]:
# recorrido de un diccionario
for clave in diccionario1.keys():
    print(clave, diccionario1[clave])

José 32
María 33
Pedro 25

In [21]:
for valor in diccionario1.values():
    print(valor)

32
33
25

#### Ejercicio: Dado un valor, sacar cuál es su clave dentro de un diccionario

In [28]:
# Ejercicio: Dado un valor, sacar cuál es su clave dentro de un diccionario

valor_buscado=32
for clave in diccionario1.keys():
    if valor_buscado==diccionario1[clave]:
        print("El valor",valor_buscado,"está en la clave",clave)

El valor 32 está en la clave José

#### el método items, devuelve una lista de tuplas con la clave y el valor

In [29]:
# el método items, devuelve una lista de tuplas con la clave y el valor
diccionario1.items()

dict_items([('José', 32), ('María', 33), ('Pedro', 25)])

#### Podemos recorrer con doble variable en un bucle for

In [30]:
# recorrer pareja clave,valor de todos los elementos del diccionario
for clave,valor in diccionario1.items():
    print("la clave",clave,"tiene valor",valor)

la clave José tiene valor 32
la clave María tiene valor 33
la clave Pedro tiene valor 25

In [32]:
# Podemos crear diccionarios vacíos
diccionario4={}
diccionario4

{}

In [34]:
diccionario4["nombre"]=input("introduce tu nombre:")
diccionario4["apellidos"]=input("introduce tus apellidos:")
diccionario4["edad"]=int(input("introduce tu edad:"))

introduce tu nombrepedro
introduce tus apellidosperez sanchez
introduce tu edad42

In [36]:
diccionario4

{'nombre': 'pedro', 'apellidos': 'perez sanchez', 'edad': 42}

In [37]:
# los diccionario pueden tener las claves numéricas o alfanuméricas
diccionario5={1:"pedro",2:"Mario","aaaaaa":"Juan"}
diccionario5

{1: 'pedro', 2: 'Mario', 'aaaaaa': 'Juan'}

## Diccionarios y listas

Ya hemos visto que los diccionarios pueden contener listas, pero las listas, también pueden contener diccionarios

In [40]:
# diccionario1
diccionario1={"nombre":"Iván","apellidos":["López","Montalbán"],"usuario":"profesor",
              "lista_alumnos":["Andrés","Javier","Jesús","..."]}
diccionario2={"nombre":"Alicia","apellidos":["Ramos","Martin"],"usuario":"administrador"}

lista=[diccionario1,diccionario2]
lista

[{'nombre': 'Iván',
  'apellidos': ['López', 'Montalbán'],
  'usuario': 'profesor',
  'lista_alumnos': ['Andrés', 'Javier', 'Jesús', '...']},
 {'nombre': 'Alicia',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'}]

## Otros métodos para diccionarios

- .clear : Vacia un diccionario. 
- .copy: Crea un clon de un diccionario
- .fromkeys: Permite crear un diccionario a partir de un iterador
- .update: Permite actualizar los valores de las claves de un diccionario, a partir de otro

In [41]:
# .clear
print(diccionario5)
diccionario5.clear()
print(diccionario5)

{1: 'pedro', 2: 'Mario', 'aaaaaa': 'Juan'}
{}

In [44]:
# copy
# Si yo utilizo el operador = para asignar un diccionario a una variable, 
#en realidad, no creo una copio, creo una referencia
diccionarioX=diccionario2
diccionario2['nombre']='Marcos'
diccionarioX, diccionario2

({'nombre': 'Marcos',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'},
 {'nombre': 'Marcos',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'})

In [46]:
diccionarioX['nombre']='Andres'
diccionarioX, diccionario2

({'nombre': 'Andres',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'},
 {'nombre': 'Andres',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'})

In [48]:
diccionario3=diccionario2.copy()
diccionario3["nombre"]="Diego"
diccionario2,diccionario3

({'nombre': 'Andres',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'},
 {'nombre': 'Diego',
  'apellidos': ['Ramos', 'Martin'],
  'usuario': 'administrador'})

In [49]:
# ejemplo de .fromkeys
diccionario6=dict.fromkeys(["alumno1","alumno2","alumno3"],10)
diccionario6

{'alumno1': 10, 'alumno2': 10, 'alumno3': 10}

In [51]:
# ejemplo de update
diccionario7=dict.fromkeys(["alumno1","alumno2","alumno3","alumno4","alumno5"],10)
diccionario7["alumno1"]=8
diccionario7["alumno2"]=6.5

{'alumno1': 8, 'alumno2': 6.5, 'alumno3': 10, 'alumno4': 10, 'alumno5': 10}

In [52]:
diccionario6.update(diccionario7)
diccionario6

{'alumno1': 8, 'alumno2': 6.5, 'alumno3': 10, 'alumno4': 10, 'alumno5': 10}

In [53]:
# otras formas de construcción de diccionarios:
# a partir de una lista
diccionario8=dict([["alumno1",7],["alumno2",10],["alumno3",4.5]])
diccionario8

{'alumno1': 7, 'alumno2': 10, 'alumno3': 4.5}

In [54]:
# a partir de una lista de tuplas
diccionario8=dict([("alumno1",7),("alumno2",10),("alumno3",4.5)])
diccionario8

{'alumno1': 7, 'alumno2': 10, 'alumno3': 4.5}

In [55]:
# otro constructor de dict, permite crear entradas a partir de los parámetros del constructor
diccionario9= dict(x=1,y=2,z=-3)
diccionario9

{'x': 1, 'y': 2, 'z': -3}

In [57]:
# construir diccionarios a partir de diccionarios
diccionario10=dict({"x":10,"y":9})
diccionario10

{'x': 10, 'y': 9}

In [58]:
#combinada
diccionario11=dict({"x":10,"y":9},z=-3,t=4)
diccionario11

{'x': 10, 'y': 9, 'z': -3, 't': 4}

# Objetos JSON

JSON = Javascript object Notation 
JSON Object = una lista de pares clave, valor
JSON array = listas de valores

Para utilizar JSON con python hay que importar la librería json

- dumps -> Vuelca el contenido de un diccionario a un objeto json
- loads -> Crea un objeto diccionario a partir de un objeto json

In [61]:
# de diccionario a JSON
import json
diccionario11=dict({"x":10,"y":9},z=-3,t=4)
json1=json.dumps(diccionario11)
type(json1),json1,type(diccionario11)

(str, '{"x": 10, "y": 9, "z": -3, "t": 4}', dict)

In [63]:
# ejemplo, convertir a JSON un objeto diccionario complejo y guardar en un fichero de texto
diccionario3={"alumno1":{"nombre":"Juan","apellidos":["Pérez","López"],"notas":[5,3,2],"familiares":{}},
              "alumno2":{"nombre":"Paco","apellidos":"Jonhson","expulsiones":3},
              "alumno3":{"nombre":"María","apellidos":["Sanchez","López"],"matriculasH":5},
              "alumno4":[]}

json2=json.dumps(diccionario3)
with open("ejemplo.txt","w") as fichero:
    fichero.write(json2)

In [67]:
# de fichero a cadena de caracteres -> a objeto diccionario
# dos formas: 
# 1ª fichero -> cadena -> loads
# 2ª json.load

#1ª forma
with open("ejemplo.txt","r") as fichero:
    cadena=fichero.read()

objeto_d=json.loads(cadena)
type(objeto_d)

dict

In [69]:
with open("ejemplo.txt","r") as fichero:
    diccionario11=json.load(fichero)
type(diccionario11),diccionario11

(dict,
 {'alumno1': {'nombre': 'Juan',
   'apellidos': ['Pérez', 'López'],
   'notas': [5, 3, 2],
   'familiares': {}},
  'alumno2': {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3},
  'alumno3': {'nombre': 'María',
   'apellidos': ['Sanchez', 'López'],
   'matriculasH': 5},
  'alumno4': []})

In [70]:
# el método pop eliminar una entrada del diccionario: 
# pop (key, [valor_por_defecto]) -> valor

valor=diccionario11.pop('alumno1')

In [73]:
diccionario11, valor

({'alumno2': {'nombre': 'Paco', 'apellidos': 'Jonhson', 'expulsiones': 3},
  'alumno3': {'nombre': 'María',
   'apellidos': ['Sanchez', 'López'],
   'matriculasH': 5},
  'alumno4': []},
 {'nombre': 'Juan',
  'apellidos': ['Pérez', 'López'],
  'notas': [5, 3, 2],
  'familiares': {}})

In [76]:
#eliminar una clave no existente da error
diccionario11.pop('xxxxx')

KeyError: 'xxxxx'

In [77]:
#salvo que indiquemos un valor por defecto
diccionario11.pop('xxxxx',10)

10

# Conjuntos 

Es una estructura de datos con unas características un tanto diferentes:
- no mutable: Los elementos del conjunto no se pueden modificar
- no están ordenados: la posición de los elementos se puede alterar 
- heterogéneos: enteros, flotantes, cadenas de caracteres, cualquier elemento de tipo básico
- no puede haber elementos "complejos"
- más eficiente que una lista

- Sigue las normas de la teoría de CONJUNTOS:
    - No permite duplicados
    - Habilita operaciones:
        - Union |
        - Intersección &
        - Diferencia -

### inciso:
- listas -> []
- diccionarios -> {}
- tuplas -> ()
- conjuntos -> {}

#### No podemos crear un conjunto vacio con las llaves. Se asignará un diccionario.
#### Tenemos que usar set()

In [78]:
# no puedo crear un conjunto vació con {}
conjunto={}
type(conjunto)

dict

In [82]:
# para crear un conjunto hay que usar set
c1=set([1,2,4,5,6,7,2,4])
type(c1),c1

(set, {1, 2, 4, 5, 6, 7})

In [83]:
c2=set((1,2,3,4,5,6,6,6,7,7,7,7))
c2, type(c2)

({1, 2, 3, 4, 5, 6, 7}, set)

In [84]:
c3={1,2,3,4,5,6,7,7,7,7,7,7}
c3, type(c3)

({1, 2, 3, 4, 5, 6, 7}, set)

In [103]:
#operaciones típicas
frutas={"kiwi","manzana","sandia","aguacate"}
frutas2={"kiwi","naranjas","limones"}

frutas,frutas2, frutas.union(frutas2)

({'aguacate', 'kiwi', 'manzana', 'sandia'},
 {'kiwi', 'limones', 'naranjas'},
 {'aguacate', 'kiwi', 'limones', 'manzana', 'naranjas', 'sandia'})

In [87]:
# no puedo cosas de este estilo
frutas[0]="jjjjj" # imposible NO MUTABLE

TypeError: 'set' object does not support item assignment

In [88]:
frutas.intersection(frutas2)

{'kiwi'}

In [89]:
# otro ejemplo 
"kiwi" in frutas

True

In [90]:
"aguacate" in frutas2

False

In [92]:
# añadir elementos a un conjunto
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")
frutas.add("melocotón")


frutas

{'kiwi', 'manzana', 'melocotón', 'sandia'}

In [94]:
# recorrido de un conjunto
for i in frutas:
    print(i)

sandia
kiwi
manzana
melocotón

In [97]:
# Para cambiar un elemento de un conjunto: eliminarlo y añadirlo o convertir a lista y de lista a conjunto

frutas=list(frutas)
frutas[2]="peras"
frutas=set(frutas)
frutas

{'kiwi', 'melocotón', 'peras', 'sandia'}

In [104]:
cadena="Esto es una cadena de caracteres"

lista=list(cadena)

print(lista)

['E', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a', ' ', 'd', 'e', ' ', 'c', 'a', 'r', 'a', 'c', 't', 'e', 'r', 'e', 's']

In [106]:
diccionario13=dict([c,c] for c in cadena)
print(diccionario13)

{'E': 'E', 's': 's', 't': 't', 'o': 'o', ' ': ' ', 'e': 'e', 'u': 'u', 'n': 'n', 'a': 'a', 'c': 'c', 'd': 'd', 'r': 'r'}

In [107]:
conjunto2=set(cadena)
conjunto2

{' ', 'E', 'a', 'c', 'd', 'e', 'n', 'o', 'r', 's', 't', 'u'}

In [108]:
tupla=tuple(cadena)
tupla

('E',
 's',
 't',
 'o',
 ' ',
 'e',
 's',
 ' ',
 'u',
 'n',
 'a',
 ' ',
 'c',
 'a',
 'd',
 'e',
 'n',
 'a',
 ' ',
 'd',
 'e',
 ' ',
 'c',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 'e',
 's')

# Las tuplas (tuples)

Son una estructura de datos que define un conjunto de elementos entre () y separados por comas. Tienen las siguientes características:
- heterogéneas
- no mutables
- ordenadas 

Son muy similares a las listas pero consumen menos memoria y tienen un acceso más rápido en comparación con las listas debido a su inmutabilidad. Esto las hace más eficientes en situaciones donde se necesita un acceso rápido a los datos

In [7]:
# Definir tuplas
t1= (1,2,2,3,4,5)
t1, type(t1)

((1, 2, 2, 3, 4, 5), tuple)

In [3]:
t2=tuple(["cadena",1,1.0,4+1j,[1,2,3,4,5]])
t2

('cadena', 1, 1.0, (4+1j), [1, 2, 3, 4, 5])

In [5]:
t3="un elemento", 1, 2.0
type(t3),t3

(tuple, ('un elemento', 1, 2.0))

In [8]:
# operador asignación
var1, var2 = 3, 4
var1,var2

# aquí estoy realizando un procesa llamado "Unpacking", o desempaquetar.

(3, 4)

In [9]:
t=("Cadena", 1.0, "María", 2, [1,2,3,4,5])
v1,v2,v3,v4,v5=t  # desempaquetar
print(v1,v2,v3,v4,v5)

Cadena 1.0 María 2 [1, 2, 3, 4, 5]

In [ ]:
# _ bucle? -> descartar el valor producido por el bucle
for _ in range(1:100):
    print("Hola")

In [10]:
# el número de elementos a desempaquetar tiene que coincidir con las variables que reciben los valores
v1,v2=t

ValueError: too many values to unpack (expected 2)

In [12]:
# slicing? Sí, el slicing es aplicable a las tuplas
v1,v2=t[0:2]
v1,v2

('Cadena', 1.0)

In [14]:
# _ descartar valores de tuplas
v1,v2,_,_,_ = t

v1,v2

('Cadena', 1.0)

In [18]:
lista1=[i for i in range(100)]
t2=tuple(lista1)
t2

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99)

In [19]:
_,v1,v2,*_ = t2
v1,v2

(1, 2)

## Operaciones con tuplas (operadores)

+ sumar dos tuplas
* repetir tuplas
* unpacking: descomponer una lista o tupla en variables individuales. Se puede usar el * como caracter comodín para asignar el "resto" en cualquier posicion 

```
# Una tupla con cinco elementos
tupla = (10, 20, 30, 40, 50)

# Usamos unpacking para obtener el primer y último valor, y descartamos el resto
primero, *_, ultimo = tupla

print(primero)  # Salida: 10
print(ultimo)   # Salida: 50

In [20]:
t3=(1,2)
t2+t3

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 1,
 2)

In [22]:
len(t2*5)

500

In [24]:
# min(), max(), len()....
min(t2),max(t2)

(0, 99)

In [26]:
import numpy as np
v=np.array([1,2,3,4,5,6,7,8])

v.shape

(8,)

In [28]:
tupla_1_elemento=("Cadena")
type(tupla_1_elemento)

str

In [29]:
tupla_1_elemento=("Cadena",)
type(tupla_1_elemento)

tuple

In [30]:
tupla3=tuple("Cadena")
tuple3

('C', 'a', 'd', 'e', 'n', 'a')

In [31]:
tupla4=(["cadena"])
type(tupla4)

list

In [33]:
t5=(2)
t6=(2,1)
t7=("cadena",2.0,[1,2,3,3,4])
type(t5),type(t6),type(t7)

(int, tuple, tuple)

In [34]:
#bucles
for i in t7:
    print(i)

cadena
2.0
[1, 2, 3, 3, 4]

In [36]:
# recorrido con además del elemento que saque su posición
for i in range(len(t7)):
    if type(t7[i]) is list:
        for j in range(len(t7[i])):
            print(i,t7[i],j,t7[i][j])
    else:
        print(i,t7[i])

0 cadena
1 2.0
2 [1, 2, 3, 3, 4] 0 1
2 [1, 2, 3, 3, 4] 1 2
2 [1, 2, 3, 3, 4] 2 3
2 [1, 2, 3, 3, 4] 3 3
2 [1, 2, 3, 3, 4] 4 4

In [37]:
# enumerate también existen en python base
for i,j in enumerate(t7):
    print(i,j)

0 cadena
1 2.0
2 [1, 2, 3, 3, 4]

In [38]:
# cómo comprobar si un elemento pertenece o no a una tupla
"cadena" in t7

True

In [39]:
# Dada esta tupla, recorrerla con unpacking
t8=("cereza","roja"),("kiwi","verde"),("manzana","amarilla")
for x,y in t8:
    print(x,"es",y)

cereza es roja
kiwi es verde
manzana es amarilla

In [40]:
objetos=["portatil","radio","television"]
precios=[800,20,500]

# la función zip me permite combinar dos o más listas generando tuplas de las mismas
for x,y in zip(objetos,precios):
    print(x,"vale",y)

portatil vale 800
radio vale 20
television vale 500

In [42]:
list(zip(objetos,precios))

[('portatil', 800), ('radio', 20), ('television', 500)]

In [44]:
#Las tuplas no son mutables: sus elementos no se pueden modificar

t7[0]="Cadena 1"

TypeError: 'tuple' object does not support item assignment

In [46]:
# para cambiar el valor de una tupla: tupla -> lista -> modificamos -> tupla (Operación de dudosa eficiencia)
t7=list(t7)
t7[0]="otra cadena"
t7=tuple(t7)
t7

('otra cadena', 2.0, [1, 2, 3, 3, 4])

In [48]:
t8={"alumno":"David"},[1,2,3,45,5],t7
t8

({'alumno': 'David'}, [1, 2, 3, 45, 5], ('otra cadena', 2.0, [1, 2, 3, 3, 4]))