1.	Escribe un programa que pida un número por teclado y que cree un diccionario cuyas claves sean desde el número 1 hasta el número indicado, y los valores sean los cuadrados de las claves.

In [ ]:
diccionario = {}

numero = int(input("dame un numero"))

for i in range(1,numero+1):
    diccionario[i] = i**i

print(diccionario)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

2.	Escribe un programa que lea una cadena y devuelva un diccionario con la cantidad de apariciones de cada carácter en la cadena.

In [ ]:
disc = {}
cadena = input("dame una cadena")
for caracter in cadena:
        if caracter in disc:
                disc[caracter] += 1
        else:
            disc[caracter] = 1
print(disc)

3.	Vamos a crear un programa en donde vamos a declarar un diccionario para guardar los precios de 4 frutas a nuestra elección. Posteriormente el programa pedirá el nombre de una fruta y la cantidad que se ha vendido y nos mostrará el precio final de la fruta a partir de los datos guardados en el diccionario. Si la fruta no existe nos dará un error.  Tras cada consulta el programa nos preguntará si queremos hacer otra consulta.

In [8]:
fruteria = {"pera":2.5 ,"manzana":4,"platano":1.75,"coco":4}

while True:
    nombre = input("dame un nuombre")

    cantidad = int(input("dame una cantidad vendida "))

    if nombre in fruteria:
        print(f"son {cantidad * fruteria[nombre]}€")
    else:
        print("no hay fruta")
        break

no hay fruta

4.	Dado un número entero introducido por teclado, guarda sus divisores en un conjunto y muéstralo.

In [25]:
numero = int(input("dame un numero"))
diccionario = {}
divisores= []
for i in range(1,numero +1):

    if numero % i == 0:
       divisores.append(i)

diccionario[numero] = divisores

print(diccionario)

{20: [1, 2, 4, 5, 10, 20]}

5.	Dada una frase introducida por teclado, guarda en un conjunto la primera letra de cada palabra

In [60]:
frase = input("dame una frase")

diccionario = {}

cadena = frase.split(" ")

for palabra in cadena:
    diccionario[palabra] = palabra[0]

print(diccionario)

{'hola': 'h', 'que': 'q', 'tal': 't', 'estas': 'e', 'eh': 'e'}

6.	Dada una frase proporcionada por el usuario, crea una lista de tuplas indicando palabra, longitud de cada palabra, letra inicial y posición que ocupan dentro de la frase.

In [ ]:
frase = input("dame una frase")

diccionario = {}

lista_frases = frase.split(" ")

for palabra in lista_frases:
    diccionario[palabra] = palabra[0],len(palabra),frase.find(palabra)

print(diccionario)

{'hola': ('h', 4, 0), 'mundo': ('m', 5, 5)}

7.	Imagina que tienes dos clases de estudiantes, una de Matemáticas y otra de inglés. Necesitas realizar varias operaciones para saber:

a.	Los estudiantes que están inscritos en ambas clases.
b.	Los estudiantes que están inscritos en solo una de las dos clases.
c.	Los estudiantes que están inscritos en alguna de las dos clases (o ambas).
d.	Los estudiantes que están inscritos en Matemáticas, pero no en Inglés.

In [ ]:
estudiantes = {
        "mate" :{
            "alumno1":{"nombre":"raul"},
            "alumno2":{"nombre":"gaston"},
            "alumno3":{"nombre":"encarna"},
            "alumno4":{"nombre":"maria"}
            },
        "ingles" :{
            "alumno1":{"nombre":"pablo"},
            "alumno2":{"nombre":"gaston"},
            "alumno3":{"nombre":"julian"},
            "alumno4":{"nombre":"maria"}
            }
}
estudiantes_mate = estudiantes["mate"]

estudiantes_ingles = estudiantes["ingles"]

AttributeError: 'dict' object has no attribute 'union'